!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
    <script src="uv/uv.bundle.js"></script>
    <script src="uv/uv.config.js"></script>
  </head>
  <body>
    <%- include("../components/nav") %>
  </body>
  <p>hi</p>
</html>
