<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %>
  </head>
  <body>
    <%- include("../components/nav") %>

    <section class="w-full max-w-2xl m-10 px-6 py-4 mx-auto">
      <h2 class="text-3xl font-semibold text-center text-gray-200 dark:text-white">Game&Apps Request</h2>
   <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScYXyqfCQR4fCzlnpr-zW1rgEw72qf7-xjhR20ZZy0g9elTRA/viewform?embedded=true" width="640" height="439" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    <%- include("../components/footer") %>
  </body>
</html>